<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.cmov.airdesk_g10" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.LoginActivity" />
        </activity>
        <activity
            android:name=".OwnedWSActivity"
            android:label="@string/title_activity_owned_ws"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForeignWSActivity"
            android:label="@string/title_activity_foreign_ws"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.MainActivity" />
        </activity>
        <activity
            android:name=".ConfigWSActivity"
            android:label="@string/title_activity_config_ws"
            android:parentActivityName=".OwnedWSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.OwnedWSActivity" />
        </activity>
        <activity
            android:name=".SubscriptionListActivity"
            android:label="@string/title_activity_subscription_list"
            android:parentActivityName=".ConfigWSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.ConfigWSActivity" />
        </activity>
        <activity
            android:name=".SearchByTagsActivity"
            android:label="@string/title_activity_search_by_tags"
            android:parentActivityName=".ForeignWSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.ForeignWSActivity" />
        </activity>
        <activity
            android:name=".FileListActivity"
            android:label="@string/title_activity_file_list" >
        </activity>
        <activity
            android:name=".EditFileActivity"
            android:label="@string/title_activity_edit_file"
            android:parentActivityName=".FileListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.FileListActivity" />
        </activity>
        <activity
            android:name=".ReadFileActivity"
            android:label="@string/title_activity_read_file"
            android:parentActivityName=".FileListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.FileListActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.LoginActivity" />
        </activity>
    </application>

</manifest>
