<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.ulisboa.tecnico.cmov.airdesk_g10" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.LoginActivity" />
        </activity>
        <activity
            android:name=".activities.OwnedWSActivity"
            android:label="@string/title_activity_owned_ws"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ForeignWSActivity"
            android:label="@string/title_activity_foreign_ws"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.ConfigWSActivity"
            android:label="@string/title_activity_config_ws"
            android:parentActivityName=".activities.OwnedWSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OwnedWSActivity" />
        </activity>
        <activity
            android:name=".activities.SubscriptionListActivity"
            android:label="@string/title_activity_subscription_list"
            android:parentActivityName=".activities.ConfigWSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ConfigWSActivity" />
        </activity>
        <activity
            android:name=".activities.SearchByTagsActivity"
            android:label="@string/title_activity_search_by_tags"
            android:parentActivityName=".activities.ForeignWSActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ForeignWSActivity" />
        </activity>
        <activity
            android:name=".activities.FileListActivity"
            android:label="@string/title_activity_file_list" >
        </activity>
        <activity
            android:name=".activities.EditFileActivity"
            android:label="@string/title_activity_edit_file"
            android:parentActivityName=".activities.FileListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FileListActivity" />
        </activity>
        <activity
            android:name=".activities.ReadFileActivity"
            android:label="@string/title_activity_read_file"
            android:parentActivityName=".activities.FileListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.FileListActivity" />
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pt.ulisboa.tecnico.cmov.airdesk_g10.activities.LoginActivity" />
        </activity>
    </application>

</manifest>
